<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.0/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Update</h1>
    <form action="/member/update" method="post">
        <input type="hidden" name="id" th:value="${member.id}" readonly />
        email: <input type="text" name="memberEmail" th:value="${member.memberEmail}" readonly /><br>
        password: <input type="password" name="memberPassword" th:value="${member.memberPassword}" /><br>
        name: <input type="text" name="memberName" th:value="${member.memberName}" /><br>
        <input type="submit" value="정보수정" />
    </form>
</body>
</html>
