<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.0/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Board</h1>
    <h2>List</h2>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>writer</th>
            <th>date</th>
            <th>hits</th>
        </tr>
        <tr th:each="board: ${boardList}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a>
                <!-- <a th:href="@{/board/${board.id}}" th:text="${board.boardTitle}"></a> -->
            </td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${board.boardHits}"></td>
        </tr>
    </table>
    <div class="btn-board-detail">
        <button onclick="writeFn()">글작성</button>
    </div>
</body>
<script th:inline="javascript">
    const writeFn = () => {
        location.href = "/board/write";
    }
</script>
</html>
