<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.0/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Board</h1>
    <h2>List</h2>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>writer</th>
            <th>date</th>
            <th>hits</th>
        </tr>
        <tr th:each="board: ${boardList}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}" th:text="${board.boardTitle}"></a>
            </td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${board.boardHits}"></td>
        </tr>
    </table>

    <!-- 게시글 페이징 -->
    <div class="board-paging">
        <a th:href="@{/board/paging(page=1)}">시작</a>
        <a th:href="${boardList.first} ? '#' : @{/board/paging(page=${boardList.number})}">이전</a>
        <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
            <span th:unless="${page == 0}">
                <span th:if="${page == boardList.number + 1}" th:text="${page}" class="current-page"></span>
                <span th:unless="${page == boardList.number + 1}">
                    <a th:href="@{/board/paging(page=${page})}" th:text="${page}"></a>
                </span>
            </span>
        </span>
        <a th:href="${boardList.last} ? '#' : @{/board/paging(page=${boardList.number + 2})}">다음</a>
        <a th:href="@{/board/paging(page=${boardList.totalPages})}">마지막</a>
    </div>
    <div class="btn-board-detail">
        <button onclick="writeFn()">글작성</button>
    </div>
</body>
<script th:inline="javascript">
    const writeFn = () => {
        location.href = "/board/write";
    }
</script>
</html>
